autopep8==2.3.1
-e git+ssh://git@github.com/craigtrim/baseblock.git@63039a8b716011f82d0a47e8a71bd56383dd68b8#egg=baseblock
cffi==1.16.0
cfgv==3.4.0
colorama==0.4.6
cryptography==41.0.2
distlib==0.3.8
entrypoints==0.4
filelock==3.15.4
flake8==7.1.0
flakeheaven==0.11.0
identify==2.6.0
iniconfig==2.0.0
mccabe==0.7.0
nodeenv==1.9.1
packaging==24.1
plac==1.4.3
platformdirs==4.2.2
pluggy==1.5.0
pre-commit==3.5.0
pycodestyle==2.12.0
pycparser==2.22
pyflakes==3.2.0
Pygments==2.18.0
pytest==8.2.2
PyYAML==6.0.1
toml==0.10.2
unicodedata2==15.1.0
urllib3==2.2.2
virtualenv==20.26.3
